In [24]:
#pip install kafka-python

In [25]:
import pandas as pd 
from kafka import KafkaProducer
from time import sleep
import json
from json import dumps

In [26]:
producer = KafkaProducer(bootstrap_servers=['44.212.7.84:9092'],
                        value_serializer= lambda x:
                        dumps(x).encode('utf-8'))

In [28]:
producer.send('demo_testing2', value="{'m3ak':'lchi5'}")

In [30]:
df = pd.read_csv('indexProcessed.csv')

In [31]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [32]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
34836,IXIC,2020-04-01,7459.5,7566.370117,7301.97998,7360.580078,7360.580078,3.685510e+09,7360.580078

In [33]:
df.sample(1).to_dict()

{'Index': {626: 'HSI'},
 'Date': {626: '1989-07-17'},
 'Open': {626: 2502.600098},
 'High': {626: 2502.600098},
 'Low': {626: 2502.600098},
 'Close': {626: 2502.600098},
 'Adj Close': {626: 2502.600098},
 'Volume': {626: 0.0},
 'CloseUSD': {626: 325.33801274}}

In [34]:
df.sample(1).to_dict(orient='records')[0]

{'Index': 'IXIC',
 'Date': '1978-07-17',
 'Open': 122.360001,
 'High': 122.360001,
 'Low': 122.360001,
 'Close': 122.360001,
 'Adj Close': 122.360001,
 'Volume': 0.0,
 'CloseUSD': 122.360001}

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient='records')[0]
    producer.send('demo_testing2', value=dict_stock)